form {
  margin-bottom: 0;
}

nav ul {
  display: flex;
  padding-inline-start: 0;
  padding-inline-end: 1em;
  margin: 0;
}

nav li {
  list-style-type: none;
}

nav {
  background-color: #888;
  color: white;
  margin-bottom: 1em;
  z-index: 20003;
}

nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1em;
}

nav a.active {
  background-color: #aaa;
  color: white;
}

nav span.heading {
  color: white;
  text-decoration: none;
  margin-right: 1em;
  font-weight: bold;
}

form div {
  width: 360px;
  margin-top: 4px;
  margin-bottom: 4px;
}

form div input, form div select {
  float: right;
}

img.big, .big svg {
  width: 100%;
  max-height: 85vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  text-align: right;
}

.popover {
  position: absolute;
  z-index: 100;
  border: 1px solid black;
  background-color: white;
  padding: 0.35em;
}

/* Hamburger happy meal */
#nav-input {
  display: none;
  visibility: hidden;
}

#nav-closer {
  display: none;
}

#nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background: black;
  z-index: 10002;
}

@media screen and (max-width: 800px) {
  #nav-label {
    width: 30px;
    height: 30px;
    margin: 10px 0 10px 2px;
    display: block;
    border: none;
    background: linear-gradient(
      to bottom,
      black, black 20%,
      white 20%, white 40%,
      black 40%, black 60%,
      white 60%, white 80%,
      black 80%, black 100%
    );
  }

  #nav-closer {
    width: 30px;
    height: 30px;
    margin: 10px 0 10px 10px;
    display: block;
    border: none;
    background: linear-gradient(
      to bottom,
      white, white 20%,
      #888 20%, #888 40%,
      white 40%, white 60%,
      #888 60%, #888 80%,
      white 80%, white 100%
    );
  }

  #nav-label nav {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    transition: 0.3s;
  }

  #nav-input:checked + #nav-label nav {
    visibility: visible;
    left: 0;
  }

  #nav-input:checked ~ #nav-overlay {
    visibility: visible;
    opacity: 0.3;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    width: 100%;
  }

  nav a {
    width: 100%;
    padding-right: 0;
  }
}
