form {
  margin-bottom: 0;
}

nav {
  background-color: #888;
  color: white;
  margin-bottom: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1em;
}

nav a.active {
  background-color: #aaa;
  color: white;
}

nav span.heading {
  color: white;
  text-decoration: none;
  margin-right: 1em;
  font-weight: bold;
}

form div {
  width: 360px;
  margin-top: 4px;
  margin-bottom: 4px;
}

form div input, form div select {
  float: right;
}

img.big {
  width: 100%;
  max-height: 85vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  text-align: right;
}

.popover {
  position: absolute;
  z-index: 100;
  border: 1px solid black;
  background-color: white;
  padding: 0.35em;
}

@media screen and (max-width: 800px) {
  #acknowledgments-nav {
    display: none;
  }
}
