[Unit]
Description=NOAA Data Loader
BindsTo=prop-postgres.service
After=prop-postgres.service
[Service]
ExecStart=docker run --rm --name=%N -u 1002 --env-file /etc/kc2gprop/db.env --link prop-postgres:pg --mount type=bind,src=/home/noaa-iono/noaa-data,dst=/noaa-data noaa-loader
ExecStop=docker stop %N
