[Unit]
Description=Fetch COSMIC data
BindsTo=prop-postgres.service
After=prop-postgres.service
PartOf=kc2gprop.target
[Service]
Type=oneshot
ExecStartPre=/usr/bin/rm -f %t/%N-pid %t/%N-cid
ExecStart=/usr/bin/podman run --rm --replace --pod=prop --name %N --conmon-pidfile /%t/%N-pid --cidfile /%t/%N-cid --cgroups=no-conmon --user 1001 --env-file /etc/kc2gprop/db.env --env-file /etc/kc2gprop/ports.env --mount type=bind,src=/home/prop/iri-index/predicted,dst=/build/iri2020/data/index prop-cosmic
TimeoutStartSec=1200
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%N-cid -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%N-cid
[Install]
WantedBy=kc2gprop.target
