[Unit]
Description=Prop Worker (high cpu)
BindsTo=prop-podman-pod.service prop-postgres.service prop-assimilate.service prop-pred.service
After=prop-podman-pod.service prop-postgres.service prop-assimilate.service prop-pred.service
PartOf=kc2gprop.target
[Service]
ExecStartPre=/usr/bin/rm -f /%t/%N-pid /%t/%N-cid
ExecStart=/usr/bin/podman run --rm --pod prop --name %N --conmon-pidfile /%t/%N-pid --cidfile /%t/%N-cid --user 1001 --env-file /etc/kc2gprop/db.env --env-file /etc/kc2gprop/mojo.env --env-file /etc/kc2gprop/ports.env --mount type=bind,src=/home/prop/output,dst=/output --mount type=bind,src=/storage/prop-archive,dst=/archive --mount type=bind,src=/etc/kc2gprop/archiver.json,dst=/archiver.json prop-scheduler perl -I/app/lib /app/main.pl minion worker -m production -q assimilate -q pred -j 2
ExecStop=/usr/bin/podman stop %N
KillMode=process
Restart=on-failure
[Install]
WantedBy=kc2gprop.target
