[Unit]
Description=Prop Postgres
BindsTo=docker.service
After=docker.service
[Service]
StateDirectory=prop-postgres
ExecStart=docker run --rm --name=%N --env-file /etc/kc2gprop/postgres.env -p 5432:5432 --mount type=bind,src=/var/lib/prop-postgres,dst=/var/lib/postgresql/data postgres:12 postgres
ExecStartPost=/usr/bin/sleep 5
ExecStop=docker stop %N
[Install]
WantedBy=multi-user.target
