[Unit]
Description=Prop Scheduler
BindsTo=prop-postgres.service prop-essn.service prop-pred.service prop-assimilate.service prop-renderer.service
After=prop-postgres.service prop-essn.service prop-pred.service prop-assimilate.service prop-renderer.service
[Service]
ExecStart=docker run --rm --name=%N -i --user 1001 --env-file /etc/kc2gprop/db.env --link prop-postgres:pg --link prop-essn:prop-essn --link irimap:irimap --link prop-pred:prop-pred --link prop-assimilate:prop-assimilate --link prop-renderer:prop-renderer -p 5002:5000 prop-scheduler
ExecStop=docker stop %N
[Install]
WantedBy=multi-user.target
