[Unit]
Description=Prop Memcached
BindsTo=prop-podman-pod.service
After=prop-podman-pod.service
PartOf=kc2gprop.target
[Service]
ExecStartPre=/usr/bin/rm -f /%t/%N-pid /%t/%N-cid
ExecStart=/usr/bin/podman run --rm --pod prop --name %N --conmon-pidfile /%t/%N-pid --cidfile /%t/%N-cid --cgroups=no-conmon memcached memcached -o modern -m 2048 -I 32m
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%N-cid -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%N-cid
KillMode=mixed
Restart=on-failure
[Install]
WantedBy=kc2gprop.target
