[Unit]
Description=Prop eSSN API
BindsTo=prop-history.service prop-podman-pod.service prop-postgres.service
After=prop-history.service prop-podman-pod.service prop-postgres.service
[Service]
ExecStartPre=/usr/bin/rm -f /%t/%N-pid /%t/%N-cid
ExecStart=/usr/bin/podman run --rm --pod prop --name %N --conmon-pidfile /%t/%N-pid --cidfile /%t/%N-cid --user 1001 --env-file /etc/kc2gprop/db.env --env-file /etc/kc2gprop/ports.env prop-essn
ExecStop=/usr/bin/podman stop %N
KillMode=process
Restart=on-failure
[Install]
WantedBy=kc2gprop.target
