[Unit]
Description=Prop History API
BindsTo=prop-postgres.service
After=prop-postgres.service
[Service]
ExecStart=docker run --rm --name=%N -u 1001 --env-file /etc/kc2gprop/db.env --link prop-postgres:pg -p 5000:5000 prop-history
ExecStartPost=sleep 2
ExecStop=docker stop %N
[Install]
WantedBy=multi-user.target
